
%box-border {
	border-top: 1px solid rgba( 255, 255, 255, 0.1 );
	border-left: 1px solid rgba( 255, 255, 255, 0.1 );
	border-right: 1px solid rgba( 0, 0, 0, 0.8 );
	border-bottom: 1px solid rgba( 0, 0, 0, 1 );
	padding: 12px;
}

div.datatables-debug {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 500px;
	z-index: 55555;
	background: repeating-linear-gradient(
		45deg,
		#0f0f0f,
		#0f0f0f 10px,
		#b7c21b 10px,
		#b7c21b 20px
	);
	background-position: top left;
	//background-attachment: fixed;
	box-shadow: 3px 3px 10px rgba( 0, 0, 0, 0.5 );
	border: 3px solid #0f0f0f;
	border-radius: 3px;
	color: whitesmoke;
	padding: 4px;
}

div.datatables-debug--title {
	@extend %box-border;
	text-align: center;
	background-color: #0f0f0f;
	font-variant: small-caps;
	font-size: 16px;
}

div.datatables-debug--button {
	@extend %box-border;
	background-color: #0f0f0f;
	cursor: pointer;
}

div.datatables-debug--button-info {
	font-size: 0.8em;
	line-height: 16px;
	color: #aaa;
}

div.datatables-debug--panel {
	@extend %box-border;
	padding: 0;
	max-height: 0;
	background-color: #1d1d1d;
	transition: max-height 1s ease-in-out; 
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 0.9em;

	&.__full {
		max-height: 300px;
	}

	a {
		text-decoration: underline;
		color: #b7c21b;
	}
}

div.datatables-debug--panel-liner {
	padding: 12px;
}

div.datatables-debug--close {
	position: absolute;
    top: 17px;
    right: 14px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding: 6px;
    line-height: 12px;
	text-align: center;
	cursor: pointer;
}



%version-box {
	padding: 3px;
	box-sizing: border-box;
}

div.datatables-debug--versions-title {
	font-variant: small-caps;
	margin: 0.5em 0;
	padding: 3px;

	&:first-child {
		margin-top: 0;
	}
}

div.datatables-debug--versions-item {
	margin: 3px 0;
}

span.datatables-debug--versions-name {
	@extend %version-box;
	display: inline-block;
	width: 35%;
	padding-left: 10px;
}

span.datatables-debug--versions-update {
	@extend %version-box;
	display: inline-block;
	width: 45%;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	padding-left: 6px;

	&.__new_version {
		background: rgb(156, 9, 9);
	}

	&.__up_to_date {
		background: rgb(11, 88, 11);
	}

	&.__nightly_available {
		background: rgb(173, 116, 9);
	}

	&.__nightly {
		background: rgb(9, 9, 187);
	}

	&.__empty {
		box-shadow: none;
	}
}

span.datatables-debug--versions-version {
	@extend %version-box;
	display: inline-block;
	width: 20%;
	text-align: right;
}



div.datatables-debug--common-table {
	margin-top: 1em;
	display: table;
}

div.datatables-debug--common-item {
	margin: 0.5em 0;
	display: table-row;
	
	&.__title {
		font-variant: small-caps;
	}
}

span.datatables-debug--common-name {
	display: table-cell;
	padding: 6px 0;
}

span.datatables-debug--common-message {
	display: table-cell;
	padding: 6px 0 6px 12px;
}



button.datatables-debug--upload-button {
	@extend %box-border;
	display: block;
	margin: 10px auto;
	width: 50%;
	background-color: rgba( 255, 255, 255, 0.3 );
	color: white;
	text-align: center;
	font-variant: small-caps;
}

div.datatables-debug--upload-ready {
	border: 1px solid transparent;
	padding: 12px;
	margin: 10px auto;
	width: 50%;
	text-align: center;
}
